---
import MainLayout from "../layouts/MainLayout.astro";
import Carousel from "../components/Carousel.astro";
import FAQ from "../components/FAQ.astro";
import ContactForm from "../components/ContactForm.astro";
import Process from "../components/process.astro";
import ServicesGrid from "../components/ServicesGrid.astro";
import CTA from "../components/CTA.astro";
import { Image } from "astro:assets";
import heroImage from "../images/hero-img.webp";
import Reviews from "../components/reviews.astro";
---

<MainLayout title="Débouchage Solutions | Urgence 24/7">
  <div class="relative isolate overflow-hidden pt-14">
    <!-- <img
      src="images/cities/hero-img.webp"
      alt="Photo d'accueil"
      class="absolute inset-0 -z-10 h-full w-full object-cover"
    /> -->
    <Image
      src={heroImage}
      alt="A bird sitting on a nest of eggs."
      class="absolute inset-0 -z-10 h-full w-full object-cover"
      width={1920}
      height={600}
      format="webp"
      loading="lazy"
    />
    <div
      class="absolute inset-0 -z-10 bg-gradient-to-r from-blue-950 to-blue-700 opacity-90"
    >
    </div>

    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56 max-[440px]:px-6">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div class="relative px-3 py-1 text-2xl leading-6 text-blue-100">
          Problème de tuyaux ou de drains?
        </div>
      </div>
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
          Drainage et débouchage au meilleur prix
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-300">
          Débouchage Solutions est une entreprise spécialisée dans le débouchage
          et le nettoyage de drain en tout genre.
          <strong><u>Service d'urgence débouchage 24/7!</u></strong> Votre tranquillité
          d'esprit est notre priorité. Chez Débouchage Solutions nous comprenons
          à quel point un drain obstrué peut être une source de stress et de désagrément.
          C'est pourquoi nous sommes là pour résoudre tous vos problèmes de drainage
          rapidement, efficacement et à des prix compétitifs.
        </p>
        <div
          class="mt-10 flex gap-4 max-[440px]:flex-col items-center justify-center"
        >
          <a
            href="tel:4505420991"
            class="max-[440px]:w-full rounded-md transition ease-in-out delay-100 bg-blue-500 px-6 py-2 text-lg font-semibold text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400"
            >450-542-0991</a
          >
          <a
            href="/contactPage"
            class="max-[440px]:w-full rounded-md transition ease-in-out delay-100 border border-blue-500 px-6 py-2.5 text-lg font-semibold leading-6 text-white hover:bg-blue-500"
            >Soumission Gratuite <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
  </div>

  <ServicesGrid />
  <Process />
  <Reviews />
  <CTA />
  <FAQ />
  <Carousel />
  <ContactForm />
</MainLayout>
