<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<div class="w-11/12 mx-auto my-24 relative">
  <div class="mx-auto max-w-2xl text-center my-24">
    <h2 class="text-4xl font-bold tracking-tight text-black sm:text-5xl">
      Villes Desservies
    </h2>
  </div>
  <div class="swiper multiple-slide-carousel swiper-container relative">
    <div class="swiper-wrapper pb-8 mb-16">
      <div class="swiper-slide">
        <div class="h-96 flex justify-center items-center">
          <a href="/longueuil">
            <img
              src="../images/cities/longueuil.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Longueuil
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="h-96 flex justify-center items-center">
          <a href="/marieville">
            <img
              src="../images/cities/marieville.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Marieville
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/mont-saint-hilaire">
            <img
              src="../images/cities/mont-saint-hilaire.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage <br />Mont Saint-Hilaire
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/montreal">
            <img
              src="../images/cities/montreal.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Montréal
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/richelieu">
            <img
              src="../images/cities/richelieu.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Richelieu
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-basile-le-grand">
            <img
              src="../images/cities/saint-basile.jfif"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage <br />Saint-Basile-le-Grand
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-bruno-de-montarville">
            <img
              src="../images/cities/saint-bruno.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage <br />Saint-Bruno-de-Montarville
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-constant">
            <img
              src="../images/cities/saint-constant.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Saint-Constant
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-hyacinthe">
            <img
              src="../images/cities/saint-hyacinthe.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Saint-Hyacinthe
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-sur-richelieu">
            <img
              src="../images/cities/saint-jean.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage <br />Saint-Jean-sur-Richelieu
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-lambert">
            <img
              src="../images/cities/saint-lambert.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Saint-Lambert
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/saint-mathieu-de-beloeil">
            <img
              src="../images/cities/saint-mathieu.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage <br />Saint-Mathieu-de-Beloeil
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/sainte-catherine">
            <img
              src="../images/cities/sainte-catherine.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Sainte-Catherine
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/sainte-julie">
            <img
              src="../images/cities/sainte-julie.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Sainte-Julie
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/salaberry-de-valleyfield">
            <img
              src="../images/cities/valley-og.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage <br />Salaberry-de-Valleyfield
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/varennes">
            <img
              src="../images/cities/varennes.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Varennes
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/beloeil">
            <img
              src="../images/cities/beloeil.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">Débouchage Beloeil</h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/boucherville">
            <img
              src="../images/cities/boucherville.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Boucherville
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/brossard">
            <img
              src="../images/cities/brossard.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Brossard
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/candiac">
            <img
              src="../images/cities/candiac.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">Débouchage Candiac</h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/carignan">
            <img
              src="../images/cities/carignan.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Carignan
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/chambly">
            <img
              src="../images/cities/chambly.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">Débouchage Chambly</h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/chateauguay">
            <img
              src="../images/cities/chateauguay.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage Chateauguay
              </h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/delson">
            <img
              src="../images/cities/delson.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">Débouchage Delson</h1>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center"
        >
          <a href="/laprairie">
            <img
              src="../images/cities/laprairie.webp"
              alt=""
              class="absolute inset-0 h-full w-full object-cover rounded-2xl"
            />
            <div class="absolute inset-0 bg-blue-950 opacity-60 rounded-2xl">
            </div>
            <div
              class="absolute inset-0 flex justify-center items-center text-white"
            >
              <h1 class="text-3xl text-center font-bold">
                Débouchage La prairie
              </h1>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div
      class="absolute flex justify-center items-center m-auto left-0 right-0 w-fit bottom-12"
    >
      <button
        id="slider-button-left"
        class="swiper-button-prev group !p-2 flex justify-center items-center !w-12 !h-12 transition-all duration-500 rounded-full !-translate-x-16"
        data-carousel-prev></button>
      <button
        id="slider-button-right"
        class="swiper-button-next group !p-2 flex justify-center items-center !w-12 !h-12 transition-all duration-500 rounded-full !translate-x-16"
        data-carousel-next></button>
    </div>
  </div>

  <style>
    .swiper-wrapper {
      height: max-content !important;
      -webkit-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
      position: relative;
    }
  </style>

  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Splide JS Initialization -->
  <script is:inline>
    var swiper = new Swiper(".multiple-slide-carousel", {
      loop: true,
      slidesPerView: 3,
      spaceBetween: 20,
      navigation: {
        nextEl: ".multiple-slide-carousel .swiper-button-next",
        prevEl: ".multiple-slide-carousel .swiper-button-prev",
      },
      breakpoints: {
        1920: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
        1028: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
        500: {
          slidesPerView: 1,
          spaceBetween: 0,
        },
        250: {
          slidesPerView: 1,
          spaceBetween: 0,
        },
      },
    });
  </script>
</div>
