<div class="bg-white">
  <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
    <div
      class="relative isolate overflow-hidden bg-blue-100 px-6 py-24 text-center sm:rounded-3xl sm:px-16"
    >
      <h2
        class="text-balance text-4xl font-semibold tracking-tight text-blue-950 sm:text-5xl"
      >
        Ne tardez pas à prendre rendez-vous
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-pretty text-lg/8 text-blue-900">
        Nous sommes là pour vous aidez avec vos problèmes de drains afin que
        vous puissiez reprendre votre tranquilité d'esprit et confort.
      </p>
      <div
        class="mt-10 flex gap-4 max-[440px]:flex-col items-center justify-center"
      >
        <a
          href="tel:4505420991"
          class="max-[440px]:w-full rounded-md transition ease-in-out delay-100 bg-blue-500 px-6 py-2 text-lg font-semibold text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400"
          >450-542-0991</a
        >
        <a
          href="/contactPage"
          class="max-[440px]:w-full rounded-md transition ease-in-out delay-100 border border-blue-500 px-6 py-2.5 text-lg font-semibold leading-6 text-blue-950 index-z hover:bg-blue-500 hover:text-white"
          >Soumission Gratuite <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
  </div>
</div>
