<div class="bg-blue-950">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
    <div class="faq mx-auto max-w-4xl divide-y divide-white/10">
      <h2 class="text-4xl font-bold leading-10 tracking-tight text-white">
        Foire Aux Questions
      </h2>
      <dl class="mt-10 space-y-6 divide-y divide-white/10">
        <!-- First Question -->
        <div class="question pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="expand flex w-full items-start justify-between text-left text-white"
              aria-controls="faq-0"
              aria-expanded="false"
              id="faqBtn1"
            >
              <span class="text-lg font-semibold leading-7"
                >Quels sont les signes que ma canalisation est bouchée?</span
              >
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="plus h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  id="plus1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="minus hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  id="minus1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="response hidden mt-2 pr-12" id="faq-1">
            <p class="text-base leading-7 text-gray-300">
              Les signes courants incluent un écoulement lent de l’eau, des
              gargouillis, des odeurs désagréables provenant des canalisations
              ou un refoulement d’eau dans les éviers, les baignoires ou les
              toilettes.
            </p>
          </dd>
        </div>

        <!-- Second Question -->
        <div class="question pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="expand flex w-full items-start justify-between text-left text-white"
              aria-controls="faq-0"
              aria-expanded="false"
              id="faqBtn2"
            >
              <span class="text-lg font-semibold leading-7"
                >Offrez-vous des services de maintenance préventive?</span
              >
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="plus h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  id="plus2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="minus hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  id="minus2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="response hidden mt-2 pr-12" id="faq-2">
            <p class="text-base leading-7 text-gray-300">
              Absolument! Nous fournissons des services réguliers de nettoyage
              et d’inspection des canalisations pour aider à prévenir les
              obstructions et à assurer le bon fonctionnement de votre système
              de plomberie.
            </p>
          </dd>
        </div>

        <!-- Third Question -->
        <div class="question pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="expand flex w-full items-start justify-between text-left text-white"
              aria-controls="faq-0"
              aria-expanded="false"
              id="faqBtn3"
            >
              <span class="text-lg font-semibold leading-7"
                >Comment puis-je éviter de futurs bouchons de canalisations?</span
              >
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="plus h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  id="plus3"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="minus hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  id="minus3"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="response hidden mt-2 pr-12" id="faq-3">
            <p class="text-base leading-7 text-gray-300">
              En utilisant une crépines de vidange, en évitant de jeter la
              graisse, le marc de café et autres solides dans le drain peut
              aider à prévenir les obstructions. Nous pouvons également fournir
              davantage des conseils personnalisés lors de nos visites de
              service.
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<script is:inline>
  class FAQ {
    constructor(faqElement) {
      this.faqElement = faqElement;
    }

    init() {
      this.faqElement.querySelectorAll(".question").forEach((question) => {
        const btn = question.querySelector(".expand");
        const response = question.querySelector(".response");
        const plus = question.querySelector(".plus");
        const minus = question.querySelector(".minus");

        btn.addEventListener("click", () => {
          response.classList.toggle("hidden");
          plus.classList.toggle("hidden");
          minus.classList.toggle("hidden");
        });
      });
    }
  }

  // Initialize the FAQ once the DOM is fully loaded
  document.addEventListener("DOMContentLoaded", function () {
    const faqElement = document.querySelector(".faq");
    if (faqElement) {
      const faq = new FAQ(faqElement);
      faq.init();
    }
  });
</script>
