<footer class="bg-blue-950">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-14 lg:px-8">
    <nav
      class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12"
      aria-label="Footer"
    >
      <div class="pb-6">
        <a
          href="#home"
          class="text-base leading-6 text-blue-200 hover:text-blue-500"
          >Accueil</a
        >
      </div>
      <div class="pb-6">
        <a
          href="#services"
          class="text-base leading-6 text-blue-200 hover:text-blue-500"
          >Services</a
        >
      </div>
      <div class="pb-6">
        <a
          href="#faq"
          class="text-base leading-6 text-blue-200 hover:text-blue-500">FAQ</a
        >
      </div>
      <div class="pb-6">
        <a
          href="#villes"
          class="text-base leading-6 text-blue-200 hover:text-blue-500"
          >Villes</a
        >
      </div>
      <div class="pb-6">
        <a
          href="#contact"
          class="text-base leading-6 text-blue-200 hover:text-blue-500"
          >Contact</a
        >
      </div>
    </nav>
    <p class="mt-10 text-center text-base leading-5 text-gray-400">
      &copy; 2024 Débouchage Solutions Inc. Tous droits réservé.
    </p>
  </div>
</footer>
