<section class="relative overflow-hidden bg-blue-50">
  <div class="mt-2 md:mt-0 py-12 pb-6 sm:py-16 lg:pb-24 overflow-hidden">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative">
      <div class="text-center">
        <h2 class="text-4xl font-bold tracking-tight text-blue-950 sm:text-6xl">
          Comment on procède?
        </h2>
        <!-- <p class="mt-6 text-lg leading-8 text-blue-400">
          Débouchage Solutions est une entreprise spécialisée dans le débouchage
          et le nettoyage de drain en tout genre.
          <strong><u>Service d'urgence débouchage 24/7!</u></strong> Votre tranquillité
          d'esprit est notre priorité. Chez Débouchage Solutions nous comprenons
          à quel point un drain obstrué peut être une source de stress et de désagrément.
          C'est pourquoi nous sommes là pour résoudre tous vos problèmes de drainage
          rapidement, efficacement et à des prix compétitifs.
        </p> -->
      </div>
      <div class="relative mt-12 lg:mt-20">
        <div
          class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28"
        >
          <svg
            class="w-full"
            xmlns="http://www.w3.org/2000/svg"
            width="875"
            height="48"
            viewBox="0 0 875 48"
            fill="none"
          >
            <path
              d="M2 29C20.2154 33.6961 38.9915 35.1324 57.6111 37.5555C80.2065 40.496 102.791 43.3231 125.556 44.5555C163.184 46.5927 201.26 45 238.944 45C312.75 45 385.368 30.7371 458.278 20.6666C495.231 15.5627 532.399 11.6429 569.278 6.11109C589.515 3.07551 609.767 2.09927 630.222 1.99998C655.606 1.87676 681.208 1.11809 706.556 2.44442C739.552 4.17096 772.539 6.75565 805.222 11.5C828 14.8064 850.34 20.2233 873 24"
              stroke="#D4D4D8"
              stroke-width="3"
              stroke-linecap="round"
              stroke-dasharray="1 12"></path>
          </svg>
        </div>
        <div
          class="relative grid grid-cols-1 text-center gap-y-8 sm:gap-y-10 md:gap-y-12 md:grid-cols-3 gap-x-12"
        >
          <div>
            <div
              class="flex items-center justify-center w-20 h-20 mx-auto bg-white dark:bg-blue-800 border-2 border-gray-200 dark:border-blue-700 rounded-full shadow p-2"
            >
              <svg
                width="512pt"
                height="512pt"
                version="1.1"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m276 466.31h-40c-5.5234 0-10-4.4766-10-10s4.4766-10 10-10h40c5.5234 0 10 4.4766 10 10s-4.4766 10-10 10z"
                  fill="#eff9ff"></path>
                <path
                  d="m357 489.69h-202c-23.711 0-43-19.289-43-43v-381.38c0-23.711 19.289-43 43-43h202c23.711 0 43 19.289 43 43v381.38c0 23.711-19.289 43-43 43zm-202-459.38c-19.301 0-35 15.699-35 35v381.38c0 19.301 15.699 35 35 35h202c19.301 0 35-15.699 35-35v-381.38c0-19.301-15.699-35-35-35z"
                  fill="#eff9ff"></path>
                <path
                  d="m231.07 257.37c-1.0977 0-2.1914-0.44922-2.9805-1.332-1.4727-1.6445-1.332-4.1758 0.3125-5.6484l74.93-67.055c1.6445-1.4727 4.1758-1.332 5.6484 0.3125s1.332 4.1758-0.3125 5.6484l-74.93 67.055c-0.76563 0.68359-1.7188 1.0195-2.668 1.0195z"
                  fill="#eff9ff"></path>
                <path
                  d="m202.41 240.31c-1.0977 0-2.1914-0.44922-2.9805-1.332-1.4727-1.6445-1.332-4.1758 0.3125-5.6484l34.461-30.84c1.6445-1.4727 4.1758-1.3359 5.6484 0.3125 1.4727 1.6445 1.332 4.1758-0.3125 5.6484l-34.461 30.84c-0.76172 0.68359-1.7188 1.0195-2.668 1.0195z"
                  fill="#eff9ff"></path>
                <path
                  d="m396 430.31h-280c-2.2109 0-4-1.7891-4-4s1.7891-4 4-4h280c2.2109 0 4 1.7891 4 4s-1.7891 4-4 4z"
                  fill="#eff9ff"></path>
                <path
                  d="m396 90.312h-280c-2.2109 0-4-1.7891-4-4s1.7891-4 4-4h280c2.2109 0 4 1.7891 4 4s-1.7891 4-4 4z"
                  fill="#eff9ff"></path>
                <path
                  d="m356 390.31h-200c-2.2109 0-4-1.7891-4-4v-260c0-2.2109 1.7891-4 4-4h200c2.2109 0 4 1.7891 4 4v260c0 2.207-1.7891 4-4 4zm-196-8h192v-252h-192z"
                  fill="#eff9ff"></path>
              </svg>
            </div>
            <h3
              class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-blue-950 md:mt-10"
            >
              Contactez-nous
            </h3>
            <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-500">
              Appelez-nous ou prenez rendez-vous en ligne pour une intervention.
            </p>
          </div>
          <div>
            <div
              class="flex items-center justify-center w-20 h-20 mx-auto bg-white dark:bg-blue-800 border-2 border-gray-200 dark:border-blue-700 rounded-full shadow p-2"
            >
              <svg
                width="512pt"
                height="512pt"
                version="1.1"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m106.44 483.84c10.691 0.039062 20.953-4.2227 28.469-11.828l205-205h0.003907c2.9102-3.0117 2.8672-7.8047-0.09375-10.766-2.9648-2.9609-7.7539-3.0039-10.766-0.09375l-205.03 205.04c-4.668 4.6875-11.012 7.3203-17.629 7.3203-6.6133 0-12.957-2.6328-17.625-7.3203-4.6758-4.6875-7.3047-11.039-7.3047-17.664 0-6.6211 2.6289-12.973 7.3047-17.664l46.234-46.234-0.003907 0.003906c2.9102-3.0156 2.8711-7.8047-0.09375-10.766-2.9609-2.9648-7.75-3.0039-10.766-0.09375l-46.234 46.234 0.003907-0.003906c-7.5469 7.5703-11.781 17.824-11.777 28.512 0.007813 10.691 4.2539 20.938 11.809 28.5 7.5547 7.5586 17.801 11.812 28.492 11.828z"
                  fill="#eff9ff"></path>
                <path
                  d="m157.97 283.48c8.5078 0.015625 16.672-3.3633 22.68-9.3867l31.477-31.477 19.07 19.078-88.926 88.93c-2.7852 3.0312-2.6836 7.7188 0.23047 10.629 2.9141 2.9102 7.6016 3.0039 10.629 0.21484l94.363-94.367c2.9961-3 2.9961-7.8594 0-10.859l-24.504-24.5 17.531-17.531 24.504 24.504-0.007813-0.003906c3 3 7.8633 3 10.863 0l31.18-31.18c2.9961-3 2.9961-7.8633 0-10.859l-20.895-20.898-18.641-18.637-0.003906-0.003906c-3-2.9961-7.8633-2.9961-10.859 0.003906-3 3-3 7.8633 0 10.863l13.211 13.203-20.328 20.316-3.5859-3.5859h0.003906c-0.16406-0.16797-0.33203-0.32812-0.51172-0.48047l-33.996-34.012c-0.16797-0.16797-0.34766-0.32812-0.51172-0.47656l-9.3242-9.3672c-3.5117-3.5195-3.5117-9.2148 0-12.734l13.973-13.941 23 23.004c3.0117 2.9102 7.8008 2.8672 10.766-0.09375 2.9609-2.9648 3.0039-7.7539 0.09375-10.766l-28.422-28.414v-0.03125l-11.039-10.988c-1.1016-1.0938-1.7188-2.582-1.7109-4.1328-0.003906-1.5547 0.61328-3.043 1.7109-4.1445l16.449-16.445c2.3164-2.1992 5.9531-2.1992 8.2695 0l24.695 24.711 0.035156 0.054688 0.054688 0.035156 61.016 61.09c0.17969 0.17969 0.36719 0.35156 0.5625 0.51172l51.418 51.414-25.305 25.305c-1.4844 1.4297-2.3281 3.3945-2.3516 5.4531-0.019532 2.0625 0.78906 4.043 2.2461 5.5 1.4531 1.457 3.4336 2.2695 5.4961 2.2539 2.0586-0.015626 4.0273-0.85938 5.457-2.3398l30.719-30.719 0.039063-0.027344v-0.035156l9.5781-9.5781h0.007812c4.0117-4.0234 6.2656-9.4766 6.2656-15.16 0-5.6836-2.2539-11.137-6.2656-15.16l-37.938-37.887h-0.003906c-4.0195-4.0195-9.4727-6.2734-15.156-6.2734s-11.133 2.2539-15.152 6.2734l-4.1797 4.1719-12.535-12.539 31.555-31.555 71.801 71.816c2.9961 2.9961 7.8555 2.9961 10.852 0l2.5156-2.5078c10.07-10.098 15.723-23.777 15.723-38.035 0-14.262-5.6523-27.941-15.723-38.039l-49.75-49.746c-10.09-10.086-23.773-15.75-38.039-15.75s-27.945 5.6641-38.035 15.75l-39.469 39.469-19.312-19.32c-3.9805-3.9766-9.375-6.2109-15-6.2109-5.6211 0-11.016 2.2344-14.996 6.2109l-16.445 16.441c-3.9805 3.9805-6.2188 9.3789-6.2188 15.008s2.2383 11.027 6.2188 15.004l5.6328 5.582-13.957 13.922c-4.5586 4.5742-7.1211 10.766-7.1211 17.227 0 6.457 2.5625 12.652 7.1211 17.227l4.3945 4.418-48.543 48.516-11.332 11.324c-6.0312 6.0156-9.4219 14.18-9.4258 22.695-0.007813 8.5156 3.375 16.688 9.4023 22.707 6.0234 6.0195 14.195 9.3945 22.711 9.3828zm191.62-132.27 37.934 37.887c2.375 2.3789 2.375 6.2344 0 8.6133l-4.1641 4.1641-46.512-46.512 4.1523-4.1523h0.003906c2.3711-2.3672 6.2109-2.3672 8.5859 0zm-34.418-96.43c7.207-7.207 16.984-11.254 27.176-11.254 10.195 0 19.969 4.0469 27.18 11.254l49.758 49.75h-0.003906c6.6875 6.707 10.668 15.648 11.18 25.105 0.51172 9.4609-2.4844 18.777-8.4102 26.168l-71.648-71.672c-3-2.9961-7.8594-2.9961-10.859 0l-36.98 36.98-26.863-26.879zm-137.77 153.54 23.656 23.656-14.504 14.504-23.648-23.656zm28.602-28.613 23.633 23.668-17.719 17.719-23.656-23.656zm74.715 12.344 10.051 10.051-20.32 20.32-10.051-10.039zm-134.58 47.562 5.918-5.9297 23.648 23.656-5.8984 5.8984 0.003906-0.003907c-3.1211 3.2031-7.3906 5.0195-11.859 5.0508s-8.7656-1.7305-11.93-4.8867c-3.1602-3.1562-4.9297-7.4492-4.9062-11.918 0.019531-4.4688 1.832-8.7422 5.0234-11.867z"
                  fill="#eff9ff"></path>
                <path
                  d="m134.55 404.5-26.812 26.82h-0.003907c-1.4805 1.4297-2.3242 3.3984-2.3438 5.457-0.015625 2.0586 0.79297 4.0391 2.25 5.4961 1.457 1.457 3.4375 2.2695 5.4961 2.25 2.0625-0.015625 4.0273-0.86328 5.4609-2.3438l26.805-26.82c2.9141-3.0117 2.8711-7.8008-0.09375-10.766-2.9609-2.9609-7.75-3.0039-10.766-0.09375z"
                  fill="#eff9ff"></path>
              </svg>
            </div>
            <h3
              class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-blue-950 md:mt-10"
            >
              Diagnostic & Réparation
            </h3>
            <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-500">
              Nous inspectons le problème et effectuons le débouchage
              efficacement.
            </p>
          </div>
          <div>
            <div
              class="flex items-center justify-center w-20 h-20 mx-auto bg-white dark:bg-blue-800 border-2 border-gray-200 dark:border-blue-700 rounded-full shadow p-2"
            >
              <svg
                width="512pt"
                height="512pt"
                version="1.1"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m90.668 474.67h330.67c2.9883 0 5.332-2.3477 5.332-5.332v-426.67c0-2.9883-2.3477-5.332-5.332-5.332h-330.67c-2.9883-0.003907-5.3359 2.3438-5.3359 5.332v426.67c0 2.9844 2.3477 5.332 5.3359 5.332zm5.332-426.67h320v416h-320z"
                  fill="#eff9ff"></path>
                <path
                  d="m149.33 101.33c-14.719 0-26.668 11.945-26.668 26.668 0 14.719 11.945 26.668 26.668 26.668 14.719 0 26.668-11.945 26.668-26.668 0-14.719-11.945-26.668-26.668-26.668zm0 42.668c-8.8516 0-16-7.1484-16-16s7.1484-16 16-16c8.8516 0 16 7.1484 16 16s-7.1445 16-16 16z"
                  fill="#eff9ff"></path>
                <path
                  d="m149.33 186.67c-14.719 0-26.668 11.945-26.668 26.668 0 14.719 11.945 26.668 26.668 26.668 14.719 0 26.668-11.945 26.668-26.668 0-14.723-11.945-26.668-26.668-26.668zm0 42.664c-8.8516 0-16-7.1484-16-16 0-8.8516 7.1484-16 16-16 8.8516 0 16 7.1484 16 16 0 8.8555-7.1445 16-16 16z"
                  fill="#eff9ff"></path>
                <path
                  d="m149.33 272c-14.719 0-26.668 11.945-26.668 26.668 0 14.719 11.945 26.668 26.668 26.668 14.719 0 26.668-11.945 26.668-26.668 0-14.723-11.945-26.668-26.668-26.668zm0 42.668c-8.8516 0-16-7.1484-16-16 0-8.8516 7.1484-16 16-16 8.8516 0 16 7.1484 16 16 0 8.8516-7.1445 16-16 16z"
                  fill="#eff9ff"></path>
                <path
                  d="m149.33 357.33c-14.719 0-26.668 11.945-26.668 26.668 0 14.719 11.945 26.668 26.668 26.668 14.719 0 26.668-11.945 26.668-26.668 0-14.719-11.945-26.668-26.668-26.668zm0 42.668c-8.8516 0-16-7.1484-16-16s7.1484-16 16-16c8.8516 0 16 7.1484 16 16s-7.1445 16-16 16z"
                  fill="#eff9ff"></path>
                <path
                  d="m373.33 122.67h-160c-2.9883 0-5.332 2.3477-5.332 5.332 0 2.9883 2.3477 5.332 5.332 5.332h160c2.9883 0 5.332-2.3477 5.332-5.332 0.003907-2.9883-2.3438-5.332-5.332-5.332z"
                  fill="#eff9ff"></path>
                <path
                  d="m373.33 208h-160c-2.9883 0-5.332 2.3477-5.332 5.332 0 2.9883 2.3477 5.332 5.332 5.332h160c2.9883 0 5.332-2.3477 5.332-5.332 0.003907-2.9844-2.3438-5.332-5.332-5.332z"
                  fill="#eff9ff"></path>
                <path
                  d="m373.33 293.33h-160c-2.9883 0-5.332 2.3477-5.332 5.332 0 2.9883 2.3477 5.332 5.332 5.332h160c2.9883 0 5.332-2.3477 5.332-5.332 0.003907-2.9844-2.3438-5.332-5.332-5.332z"
                  fill="#eff9ff"></path>
                <path
                  d="m373.33 378.67h-160c-2.9883 0-5.332 2.3477-5.332 5.332 0 2.9883 2.3477 5.332 5.332 5.332h160c2.9883 0 5.332-2.3477 5.332-5.332 0.003907-2.9883-2.3438-5.332-5.332-5.332z"
                  fill="#eff9ff"></path>
              </svg>
            </div>
            <h3
              class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-blue-950 md:mt-10"
            >
              Profitez de votre confort
            </h3>
            <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-500">
              Votre installation fonctionne parfaitement, sans stress ni tracas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
