---
import { Image } from "astro:assets";
import Anne from "../images/reviews/anne.png";
import Nadia from "../images/reviews/nadia.png";
---

<section class="bg-white py-24 sm:py-32">
  <h2
    class="text-4xl font-bold tracking-tight text-blue-950 text-center sm:text-6xl mb-20"
  >
    Ce que disent nos clients
  </h2>
  <div class="relative">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-center">
      <!-- <span class="bg-white px-2 text-sm text-gray-500">Continue</span> -->
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col pb-10 sm:pb-16 lg:pb-0 lg:pr-8 xl:pr-20">
        <!-- <img
          class="h-12 self-start"
          src="https://tailwindui.com/plus-assets/img/logos/tuple-logo-gray-900.svg"
          alt=""
        /> -->

        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg/8 text-gray-900">
            <p>
              “Il est venu faire un travail qu'un autre plombier avait échoué de
              faire, et il a réussi! Ce plombier est excellent. Le service est
              fiable et très rapide. Il charge un prix très raisonnable et fait
              un travail vraiment impeccable. Je recommande fortement!”
            </p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <!-- <img
              class="size-14 rounded-full bg-gray-50"
              src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            /> -->
            <Image alt="" src={Anne} class="size-14 rounded-full bg-gray-50" />
            <div class="text-base">
              <div class="font-semibold text-gray-900">Anne Tchiniaev</div>
              <div class="mt-1 text-gray-500">Brossard</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div
        class="flex flex-col border-t border-gray-900/10 pt-10 sm:pt-16 lg:border-l lg:border-t-0 lg:pl-8 lg:pt-0 xl:pl-20"
      >
        <!-- <img
          class="h-12 self-start"
          src="https://tailwindui.com/plus-assets/img/logos/reform-logo-gray-900.svg"
          alt=""
        /> -->
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg/8 text-gray-900">
            <p>
              “Service impeccable! Courtois, ponctuel et travaille proprement.”
            </p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <!-- <img
              class="size-14 rounded-full bg-gray-50"
              src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            /> -->
            <Image alt="" src={Nadia} class="size-14 rounded-full bg-gray-50" />
            <div class="text-base">
              <div class="font-semibold text-gray-900">Nadia Boucher</div>
              <div class="mt-1 text-gray-500">Saint-Lambert</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
