---
interface Props {
  title: string;
  metaTitle?: string;
  metaDescription?: string;
  canonical?: string;
}

const { title, metaTitle, metaDescription, canonical } = Astro.props;
import "@fontsource/roboto";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={metaDescription ||
        "Faites confiance à nos plombiers qualifiés pour tous vos besoins en débouchage et nettoyage de drain. Service rapide et fiable, disponible 24h/7 pour répondre à vos urgences."}
    />
    <meta name="viewport" content="width=device-width" />
    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-ND5V5KXV");
    </script>
    <!-- End Google Tag Manager -->
    <link rel="icon" type="image/png" href="/favicon.png" />
    {canonical && <link rel="canonical" href={canonical} />}
    <meta name="generator" content={Astro.generator} />
    <title>{metaTitle || title}</title>
    <slot name="head" />
  </head>
  <body class="tracking-wide">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-ND5V5KXV"
        height="0"
        width="0"
        style="display: none; visibility: hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Navbar />
    <section id="home">
      <slot />
      <!-- Floating Call Button -->
      <div class="fixed bottom-4 right-4 z-50">
        <a href="tel:4505420991">
          <button
            class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-2 rounded-full shadow-lg"
          >
            <svg
              width="40pt"
              height="40pt"
              version="1.1"
              viewBox="0 0 1200 1200"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m193.18 348.56c-3.3281-47.344-4.7344-43.828 29.953-82.312 92.484-102.47 146.72-108.52 185.9-51.656 0.375 0.5625 0.70312 0.98438 1.125 1.5 140.44 174.47 132.42 145.22 19.078 323.58-5.0625 7.9688-5.3906 17.391-0.84375 25.688 60 109.36 109.83 159.19 219.14 219.14 8.2969 4.5469 17.719 4.2656 25.688-0.84375 178.36-113.34 149.11-121.36 323.58 19.078 0.51562 0.42188 0.98438 0.75 1.5 1.125 56.859 39.188 50.812 93.469-51.656 185.9-38.484 34.688-34.969 33.328-82.312 29.953-298.4-21.094-650.06-372.74-671.16-671.16z"
                fill="#fff"
                fill-rule="evenodd"></path>
            </svg>
          </button>
        </a>
      </div>
      <Footer />
      <script>
        import "../scripts/menu.js";
      </script>
    </section>
  </body>
</html>
