---
interface Props {
  title: string;
  metaTitle?: string;
  metaDescription?: string;
}

const { title, metaTitle, metaDescription } = Astro.props;
import "@fontsource/roboto";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={metaDescription || "Default description"}
    />
    <meta name="viewport" content="width=device-width" />
    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-ND5V5KXV");
    </script>
    <!-- End Google Tag Manager -->
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{metaTitle || title}</title>
    <slot name="head" />
  </head>
  <body class="tracking-wide">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-ND5V5KXV"
        height="0"
        width="0"
        style="display: none; visibility: hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Navbar />
    <section id="home">
      <slot />
    </section>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
